/* || Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 2.5rem 1rem;
}

/* || Colours */

:root {
    --black: #000;
    --grey: #52525a;
    --white: #fff;
    --light-grey: #f3f4f6;
    --box-shadow: #e0e0e0;
}

/* || Typography */

@font-face {
    font-family: "Be Vietnam Pro";
    src: url(./fonts/be-vietnam-pro-v12-latin-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Be Vietnam Pro";
    src: url(./fonts/be-vietnam-pro-v12-latin-600.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* || Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-block-end: 1rem;
}

h1 {
    font-family: "Be Vietnam Pro";
    font-size: 2rem;
    margin-block-end: 1rem;
    text-align: center;
    color: var(--black);
}

.header-text {
    margin-block-end: 2.5rem;
    text-align: center;
    font-family: "Be Vietnam Pro";
    color: var(--grey);
    line-height: 150%;
}

/* || Card Grid */

main {
    margin-block-end: 5rem;
}

.card-container-grid {
    display: grid;
    background-color: var(--light-grey);
    padding: 1.5rem;
    border-radius: 1.5rem;
    gap: 1.5rem;
}

.card {
    padding: 3rem 1.2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0rem 0.3rem 0.3rem var(--box-shadow);
}

h2 {
    margin-block-end: 0.75rem;
    font-family: "Be Vietnam Pro";
    font-size: 1.25rem;
    line-height: 150%;
}

.card-text {
    font-family: "Be Vietnam Pro";
    color: var(--grey);
    line-height: 150%;
}

.card-one-img-mobile,
.card-two-img-mobile,
.card-three-img-mobile,
.card-four-img-mobile,
.card-five-img-mobile {
    margin-block-end: 1.5rem;
}
